@model IdentityHotel.Models.Bar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Sorname_Prac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Sorname_Prac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zv_Bary.Nazva_Bary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zv_Bary.Nazva_Bary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Код }) |
    @Html.ActionLink("Back to List", "Index")
</p>
