@model IdentityHotel.Models.Restaurant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EatingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EatingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberPeople)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Sorname_Prac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Sorname_Prac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameRestaurant.NameRestaurant1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameRestaurant.NameRestaurant1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idRestaurant }) |
    @Html.ActionLink("Back to List", "Index")
</p>
