@model IEnumerable<IdentityHotel.Models.Goest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SornameGoesst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameGoest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurnameGoest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateArrival)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateExit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number.Komplektaci_nomera)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SornameGoesst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameGoest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurnameGoest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateArrival)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateExit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number.Komplektaci_nomera)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdGoest }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdGoest }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdGoest })
        </td>
    </tr>
}

</table>
