@model IdentityHotel.Models.Goods

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Goods</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tovar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tovar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kilcist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kilcist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sklad.Nam_sk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sklad.Nam_sk)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_Goods }) |
    @Html.ActionLink("Back to List", "Index")
</p>
