@model IEnumerable<IdentityHotel.Models.Goods>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tovar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kilcist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sklad.Nam_sk)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tovar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kilcist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sklad.Nam_sk)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Goods }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Goods }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Goods })
        </td>
    </tr>
}

</table>
