@model IEnumerable<IdentityHotel.Models.Dishes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazva_Strav)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vud_Strav)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nazva_Strav)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vud_Strav)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Strav }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Strav }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Strav })
        </td>
    </tr>
}

</table>
