@model IdentityHotel.Models.Poslyg

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Poslyg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazva_Poslyg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazva_Poslyg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cina_Posleg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cina_Posleg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_Poslyg }) |
    @Html.ActionLink("Back to List", "Index")
</p>
