@model IdentityHotel.Models.Trenager

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trenager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazvaTrenegera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazvaTrenegera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KilcistTrenegera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KilcistTrenegera)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_Trenegra }) |
    @Html.ActionLink("Back to List", "Index")
</p>
