@model IEnumerable<IdentityHotel.Models.Cooking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.masa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Odun_vumiry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dishes.Nazva_Strav)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Goods.Tovar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vidil_kyx.Nazva_vidily)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.masa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Odun_vumiry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dishes.Nazva_Strav)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Goods.Tovar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vidil_kyx.Nazva_vidily)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Код }) |
            @Html.ActionLink("Details", "Details", new { id=item.Код }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Код })
        </td>
    </tr>
}

</table>
